<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">
      Final Project: Bidding System for Jobs
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible-nav-links" aria-controls="collapsible-nav-links" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsible-nav-links">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Resources
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            
              <% if @current_company == nil %>

                <% if @current_seeker == nil %>
                
                  <a href="/seeker_sign_in" class="dropdown-item">
                    Job Seeker Sign in
                  </a>
                  
                  <a href="/seeker_sign_up" class="dropdown-item">
                    Job Seeker Sign up
                  </a> 
                
                <% else %>
                
                  <a href="/seeker_sign_out" class="dropdown-item">
                  <%= @current_seeker.first_name.capitalize + " " + @current_seeker.last_name.capitalize %> Sign out
                  </a>
                  
                  <a href="/jobs" class="dropdown-item">
                    My jobs
                  </a>
                
                  <a href="/bids" class="dropdown-item">
                    My bids
                  </a>

                <% end %>

              <% end %>
              
              <% if @current_seeker == nil %>

                <% if @current_company == nil %>
                
                    <a href="/company_sign_in" class="dropdown-item">
                      Company Sign in
                    </a>
                
                    <a href="/company_sign_up" class="dropdown-item">
                      Company Sign up
                    </a>
                  
              
                <% else %>

                  <a href="/company_sign_out" class="dropdown-item">
                    <%= @current_company.name %> Sign out
                  </a>
                  
                  <a href="/jobs" class="dropdown-item">
                    My jobs
                  </a>

                <% end %>
              <% end %>

              <a href="/winners" class="dropdown-item">
                My wins
              </a>

              <a href="/" class="dropdown-item">
                Home
              </a>
  

          </div>
        </li>
      </ul>
    </div> <!-- .navbar-collapse -->
  </div> <!-- .container -->
</nav>
