<h1>Sign up</h1>

<form action="/insert_company" method="post">

  <div>
    <label for="email_box">Email</label>
    <input id="email_box" name="query_email" placeholder="Choose a email..." type="text">
  </div>
                 
  <div>
    <label for="name_box">Name</label>
      
    <input type="text" id="name_box" name="query_name">
  </div>
         
  <div>
    <label for="logo_box">Logo</label>
      
    <input type="text" id="logo_box" name="query_logo">
  </div>
         
  <div>
    <label for="number_of_employees_box">Number of employees</label>
      
    <input type="text" id="number_of_employees_box" name="query_number_of_employees">
  </div>
         
  <div>
    <label for="hq_location_box">Hq location</label>
      
    <input type="text" id="hq_location_box" name="query_hq_location">
  </div>
    
  <div>
    <label for="password_box">Password</label>
    <input id="password_box" name="query_password" placeholder="Choose a password..." type="password">
  </div>

  <div>
    <label for="password_confirmation_box">Password Confirmation</label>
    <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
  </div>

  <button>
    Sign up
  </button>
</form>

<hr>

<p>
  Or, <a href="/company_sign_in">Sign in</a> instead.
</p>
